<% content_for :slider do %>
  <div id="slider" style="margin:0 auto">
	  <%= image_tag "banner_1.jpg", :title => "Chuck banner 1" %>
	  <%= image_tag "banner_2.jpg", :title => "Chuck banner 2" %>
	  <%= image_tag "banner_3.jpg", :title => "Chuck banner 3" %>
	</div>
<% end %>