<div id="activities">
  <% if @activities.count > 0 %>
    <% @activities.each do |activity| %>
      <%= render :partial => "activity_#{activity.kind}", :locals => { :activity => activity } %>
    <% end %>
  <% else %>
  <p style="margin: 20px 0px;text-align:center">
    No activity for the moment. <br />
    Follow <%= link_to 'people', users_path %> or <%= link_to 'series', shows_path %> to keep this page full!
  </p>
  <% end %>
</div>
