body {
	font-family:'Verdana', Arial, sans-serif;
	font-size: 12px;
	margin:0px;
}

#header { background-color: #263C6E; }

#header-container { margin:0px auto; width: 980px; padding:0px; }

#header-container h1.logo {
	background:url(/images/logo.png) no-repeat left top;
	color:white;
	display:inline-block;
	float:left;
	font-size:20px;
	height:40px;
	margin:0px;
	padding-top:12px;
	padding-left:40px;
	width: 200px;
}

#header-container h1.logo a {
	color:white;
	text-decoration:none;
}

#header-container ul { 
	display:inline-block;
	float:left;
	list-style:none;
	margin:15px 0px 0px 0px;
	padding-left: 10px;
}

#header-container ul li, #header-container .signin-signup-frame { display:inline-block; margin-left:50px; }
#header-container ul li a, #header-container .signin-signup-frame a {
	color:white;
	text-decoration:none;
	font-size: 15px;
}

#header-container ul li a:hover { color:#45A4FF; }
#header-container form { display:inline-block; float:right; margin-top:11px;}

#header-container form input[type="text"]
{ border:1px solid black;
	height:25px;
	outline: none;
	padding:0px 5px;
	width:270px;
}

#header-container ul.as-selections li { margin-left:0px; }

#global-container {
	border-bottom: 1px solid gray;
	margin: 10px auto;
	min-height:500px;
	padding: 5px;
	width: 975px;
}

/* Search zone */
#series_results .series { border-top:1px solid #263C6E; margin-bottom:30px; padding-top:30px; }
#series_results .series .poster { float:left; margin-right:20px; }
#series_results .series div.content { float:left; width:750px; }
#series_results .series div.content h2.title { margin:0px; margin-bottom:15px; }
#series_results .series div.content .content { margin:0; }
#series_results .series .debug { color:red; }

.clear { clear:both; }

/* Authentications */
.auth-method {
	background-color:#F2F2F2;
	border:1px solid #263C6E;
	height:32px;
	width:200px; 
}
.auth-method a {
	display:block;
	padding:8px 0px 8px 40px;
	height:100%;
	width:160px;
}
.auth-method:hover { background-color:#D9D9D9; cursor:pointer; }
.auth-method:hover p { text-decoration: underline; margin-left:40px; }
.auth-method-twitter {
	background-image: url(/images/icons/twitter_32.png);
	background-repeat : no-repeat;
	background-position: 5px center;
}
.auth-method-facebook {
	background-image: url(/images/icons/facebook_32.png);
	background-repeat : no-repeat;
	background-position: 5px center;
}

.auth-method-content { float:left; }
.destroy-handler { float:right; }
.destroy-handler a { display:block; margin-top:6px; margin-right:2px;}

/* Series search */
#series_initials { border-bottom:1px solid #263C6E; padding-bottom: 10px;}
#series_initials ul { margin:0px; padding-left:0px; }
#series_initials ul li {
  display:inline-block;
  margin-left:28px;
}
#series_initials ul li.first {
  display:inline-block;
  margin-left:10px;
}

#series_found { margin-top: 20px; }
#series_found h3 { text-align:right }
#series_found ul { padding-left:0px; }
#series_found ul li { display:inline-block; margin-left:30px; }
#series_found ul li div { width:150px; }
#series_found ul li div p { text-align:center; margin-top:2px; }
#series_found ul li div div.series_poster { text-align:center; }
#series_found ul li div div.series_poster img:hover { border:2px groove #263C6E; margin:-2px; }

/* Series display */
#series_avatar { float:left; width:204px; }
#series_avatar div > img { border: 1px solid #263C6E }
#series_info { float:left; margin-left:10px; width:760px; }
#series_overview { margin:0px; }
#series_actors ul { float:left; list-style:none; margin:0px; padding:0; width: 100%; }
#series_actors ul li { display:inline-block; float:left; width: 25%; margin-top: 10px; padding: 0; }
#series_bar ul { list-style:none; padding-left:0px; border-top:1px solid gray; margin-top:0px;}
#series_bar ul li { border-bottom:1px solid gray; padding:3px 3px; height:20px; }
#series_bar ul li:hover { background-color: #263C6E;}
#series_bar ul li:hover a { color:white; }
#series_bar ul li a.add { background-image:url(/images/icons/add_16.png); background-repeat:no-repeat; padding-left:20px; }
#series_bar ul li a.remove { background-image:url(/images/icons/cancel_16.png); background-repeat:no-repeat; padding-left:20px; }
#series_bar ul li a.comments { background-image:url(/images/icons/comments_16.png); background-repeat:no-repeat; padding-left:20px; }

/* Suggestions */
.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:7px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid black; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; cursor:pointer; }
.autocomplete div { padding:5px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:bold; }

/* Login */
.login-frame {
  border:1px solid gray;
  padding:30px;
  margin:auto;
  margin-top:50px;
  width:460px;
}

#standard-login {
  float:left;
  width:200px;
}

#services-login {
  float:left;
  margin-left:50px;
  width:200px;
}

.register-frame {
	width:490px;
}

/* Notices and errors */
#error_explanation {
	border:1px solid red;
	background-color: #FFE8EB;
	padding:10px;
}

#error_explanation h2 {
	color:#D93D4F;
}

/* Buttons */
.backg-twitter-32 { 
	background: url(/images/icons/twitter_32.png) no-repeat 5px center;
	padding-left:40px;
}

.social-button {
	background-color: #EDEBEB;
	border:1px solid gray;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:5px;
	width:100px;
}

/* Anything */
a { text-decoration:none; color: #263C6E;}
a:hover { text-decoration:underline; }
input[type="text"], input[type="password"] {
	border:1px solid gray;
	height:20px;
	padding:2px 5px;
}