/* 
	project: internet sharing template
   	author: luka cvrk (www.solucija.com) 
*/
   
body { padding: 0; margin: 0; font: 0.7em Tahoma, Arial, sans-serif; line-height: 1.6em; background: #E7EAED; color: #454545; }

/* links */
a { color: #003B6E; background: inherit; }
a:hover { color: #9EC068; background: inherit; }	

/* headings */
h1 { font: bold 2.5em "Arial", Sans-Serif; margin: 0; letter-spacing: -1px; }
h2 { font: bold 2em Arial, Sans-Serif; margin: 0; padding: 0; }
h1 a, h2 a { color: #2b2b2b; background: #fff; text-decoration: none; }
h1 a:hover, h2 a:hover { color: #2b2b2b; background: #FFF; }
#logo .title { color: #003B6E; background: #fff; }

/* lists and form elements */
ul { margin: 0; padding : 0; list-style : none; }
form { margin: 0; }
input.search { width: 279px; border: 1px solid #003B6E; padding: 8px 10px; color: #1E67A8; font-weight: bold; }
input.button { padding: 3px; }

/* content holder */
#content { background-color: white; border: 1px solid #CCC; margin: 10px auto 10px; padding:0px 20px 20px; width: 960px; }

/* header */
#header { padding:15px 0px 5px; }
#logo { float:left; padding: 0px 0 0 25px; }
#logo a { background: url(/images/tv-logo.png) no-repeat; display:block; padding: 15px 0px 0px 55px; }
#logo p { margin: 0; padding: 0 0 0 10px; color: #003B6E; background: #fff; }
#top_info { float: right; width: 570px; margin: 20px 5px 0 0; text-align: right; }

/* horizontal tabbed menu */	
#tabs { background: #fff url(/images/bigbox.gif) no-repeat top left; color: #000;  height: 64px; text-align: center; padding: 0 0 0 210px; }
#tabs li { display: inline; height: 45px; }
#tabs li a { float: left; background: #fff url(/images/barbg.gif) no-repeat; color: #808080; padding: 7px 0; width: 82px; text-align: center; font-weight: bold; text-decoration: none; }
#tabs li a:hover { background: #fff url(/images/barcurrent.gif) no-repeat; color: #000; }	
#tabs li a.current { background: #fff url(/images/barcurrent.gif) no-repeat; color: #2C71AE; }	
.key { text-decoration: underline; }

/* search form */
#search { 
	float: left;
	clear: both;
	color: #000;
	background: #fff url(/images/searchbg.gif) no-repeat;
	padding: 14px 0 20px 5px;
	width: 500px;
	margin: 6px 0 0 0;
}
#search p { padding: 0; margin: 0; }


/* grey subheader */
.gboxtop { clear: both; height: 8px; background: #dedede url(/images/gboxtop.gif) no-repeat; color: #000; }
.gbox { background: #dedede url(/images/gbox.gif) no-repeat bottom left; color: #444; padding: 1px 13px 7px 13px; margin: 0 0 20px 0; }
.gbox p { padding: 7px 0; margin: 0;}


/* left side */
.left { float: left; width: 650px; margin: 0 0 10px 0; }
.left_articles {
	margin: 0 20px 15px 10px;
	padding: 10px 0 10px 0;
	text-align: justify;
	border-bottom: 1px dotted #ccc;
	color: #000;
	background: #fff;
}
	
.calendar { height: 50px; float: left; background: #fff url(/images/calendar.gif) no-repeat; width: 50px; padding: 5px 0 0 9px;  color: #808080;}
.calendar p { padding: 0; margin: 0; }
.description { padding: 0 0 2px 0; margin: 0 10px 5px 0; border-bottom: 1px dotted #ccc; }
.thumbnail { float: left; margin: 0 18px 8px 0; border: 1px solid #dedede; }
.width-full { width:100% }

/* bottom thirds */
.thirds { float: left; width: 203px; background: #eee; margin: 0 12px 0 0; color: #5d5d5d; }
	.smallboxtop { height: 14px; background: #fff url(/images/smallboxtop.gif) no-repeat; color: #000; }
	.smallbox { background: #fff url(/images/smallbox.gif) no-repeat bottom left; color: #444; padding: 1px 10px 10px 10px;  }
	.smallbox p { padding: 0; margin: 0; }

/* Normal Bubble */
div.bubble {
	width: auto;
	margin-bottom: 24px;
}

div.bubble blockquote {
	border: 1px solid #DEDEDE;
	border-radius:8px;
	background-color: #fff;
	margin: 0px;
	min-height:40px;
	padding: 0px;
}

div.bubble blockquote p {
	margin: 10px;
	padding: 0px;
}

div.bubble cite {
	position: relative;
	margin: 0px;
	padding: 31px 0px 0px 15px;
	top: 6px;
	background: transparent url(/images/tip.gif) no-repeat 20px 0;
	font-style: normal;
}

div.bubble cite img {
	margin-top: 3px;
}

div.new-bubble blockquote p.comment-content {
	margin-bottom: 10px;
}

div.bubble blockquote p.comment-options {
	display:inline-block;
	float:right;
}

div.bubble blockquote p.comment-options a.thumbs-up,
div.bubble blockquote p.comment-options a.thumbs-down,
div.bubble blockquote p.comment-options a.thumbs-up-hov,
div.bubble blockquote p.comment-options a.thumbs-down-hov {
	display:inline-block;
	height:16px;
	width:16px;	
}

div.bubble blockquote p.comment-options a.thumbs-up {
	background:url(/images/thumbs_up.png);
}


div.bubble blockquote p.comment-options a.thumbs-down {
	background:url(/images/thumbs_down.png);
}

div.bubble blockquote p.comment-options a.thumbs-up-hov {
	background:url(/images/thumbs_up_black.png) no-repeat;
}

div.bubble blockquote p.comment-options a.thumbs-down-hov {
	background:url(/images/thumbs_down_black.png) no-repeat;
}

div.bubble blockquote p.comment-options a.thumbs-up-hov:hover {
	background:url(/images/thumbs_up.png) no-repeat;
}

div.bubble blockquote p.comment-options a.thumbs-down-hov:hover {
	background:url(/images/thumbs_down.png) no-repeat;
}

div.bubble p.comment-content {
	float:left;
	width:90%;
}

div.new-bubble textarea {
	border:none;
	height:auto;
	overflow:hidden;
	resize: none;
	width: 100%;
}

div.new-bubble textarea:focus {
	outline: none;
}

div.new-bubble div.buttons p {
	margin-top: 0px;
	padding: 0px;
}

label.placeholder {
cursor: text;
padding: 4px 4px 4px 4px;
color: #999999;
}

/* Suggestions */
.autocomplete-w1 {
	background:url(/images/shadow.png) no-repeat bottom right;
	position:absolute; top:0px; left:0px; margin:7px 0 0 6px;
	/* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #1D66A8; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; cursor:pointer; }
.autocomplete div { padding:5px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { color:#1E67A8; font-weight:bold; }

/* html5 placeholder support */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color:#999999;
}
input:placeholder, textarea:placeholder {
color:#999999;
}
	
/* right side */
#right {
	float: right;
	width: 295px;
	margin: 0 0 10px 0;
}

.boxtop { height: 19px; background: #fff url(/images/boxtop.gif) no-repeat; color: #000; }
.box { background: #fff url(/images/box.gif) no-repeat bottom left; color: #5b5b5b; padding: 0 10px 15px 10px; margin: 0 0 10px 0; }
.box p { padding: 0; margin: 0;}
.image { float: left; margin: 0 9px 3px 0; }

/* misc */
.buttons { text-align: right; padding: 4px 3px 0 0;}
.buttons p { margin-top:20px; }
.left_articles .buttons { float: right; height: 20px; }
.bluebtn { background: #488EB2 url(/images/bluebtn.gif) no-repeat; width: 100px; padding: 1px 16px 5px 16px; color: #fff; text-decoration: none; }
.greenbtn { background: #488EB2 url(/images/greenbtn.gif) no-repeat; padding: 1px 17px 5px 16px; color: #fff; text-decoration: none; }
.bluebtn:hover, .greenbtn:hover { background: #488EB2 url(/images/hoverbtn.gif) no-repeat; color: #fff; }
.clear-left { clear:left; }
.clear-right { clear:right; }
.clear { clear:both; }

/* buttons */
#comments_button a { background: url(/images/comment.png) no-repeat; padding-left:20px; }

/* footer  */
.footer { clear: both; text-align: center; line-height: 1.8em; padding: 10px 0 10px 0; border-top: 1px solid #ccc; }

/* series info */
.series_info #poster { border:1px solid #DEDEDE; float:left; margin-right:10px; }
.series_info #poster.processing { background: url(/images/shows_light_image.png) no-repeat; height:300px; width:204px; }
.series_info #poster.processing img { margin:auto; margin-top:215px;display:block; }
.series_info span.label { font-weight: bold; }

a.add-movie-icon, a.rm-movie-icon { display:inline-block ; padding-left:16px; }
a.add-movie-icon { background: url(/images/movie_add.png) no-repeat left center; }
a.rm-movie-icon { background: url(/images/movie_remove.png) no-repeat left center; }

/* Navigation list == series */
#navlist { text-align:center; }
#navlist li {
	border:1px solid white;
	display: inline;
	list-style-type: none;
	margin-right:1px;
	width:12px;
}
#navlist li.selected, #navlist li:hover { background-color: #1D66A8; border: 1px solid #003B6E; }
#navlist li.selected a, #navlist li:hover a { color: white; }
#navlist li a { padding: 0px 12px; text-decoration:none; }

.serie-thumb { float:left; margin-right:20px; }
.serie-thumb p { text-align:center; }
.serie-thumb a span.title {
	display:block;
	border:1px solid white;
}
.serie-thumb a.serie-with-image:hover span.title {
	background-color: #1D66A8;
	border-top:1px solid #003B6E;
	border-right:1px solid #003B6E;
	border-bottom:1px solid #1D66A8;
	border-left:1px solid #003B6E;
}

.serie-thumb a.serie-with-image span.img img { border: 1px solid #DEDEDE; }

.serie-thumb a.serie-with-image:hover span.img img {
	border:1px solid #003B6E;
}
.serie-thumb a.serie-with-image {
	text-decoration:none;
}
.serie-thumb a.serie-with-image:hover {
	color:white;
	text-decoration:none;
}

#series_seasons { border-bottom: 1px dotted #CCC; margin-bottom:20px; }
#series_seasons .thirds { margin:0px 17px 15px }
#series_seasons .thirds p { text-align:center; }
#series_seasons .thirds p.processing { background: url(/images/light_movie.png) no-repeat; height: 217px; margin:0 auto; width:150px; }
#series_seasons .thirds p.processing img { margin-top:180px; }

/* season info */
.season_info #poster { border:1px solid #DEDEDE; float:left; margin-right:10px; }
.season_info #poster.processing { background: url(/images/light_movie.png) no-repeat; width:150px; height:217px; }
.season_info #poster.processing img { display:block; margin:auto; margin-top:85px; }
.season_info .episodes-list { float:left; width:700px; }
.season_info .episode_info { display:inline-block; float:left; width:350px; }

/* episode info */
.episode_info #poster { border:1px solid #DEDEDE; float:left; margin-right:10px; }
.episode_info #poster.processing { background: url(/images/episode_light_image.png) no-repeat; width:299px; height:168px; }
.episode_info #poster.processing img { display:block; margin:auto; margin-top:85px; }

/* Login */
#login-frame { margin:20px auto 0px; width:620px; }
#login-frame .box { height:250px; }
#login-frame #standard-login, #login-frame #services-login { float:left; width:295px; }
#login-frame #standard-login { margin:0px 10px 0px auto; }
#login-frame #services-login { margin:0px auto 0px 10px; }
#login-frame #services-login #my-authentications { text-align:center; }
.box .title { margin-bottom:20px;text-align:center }

/* Menu */
#header-bar {
  background-color:#1D66A8;
	border:1px solid #003B6E;
	margin-bottom:10px;
  height:40px;
}
#header-bar-content {
  color:white;
  margin: 0 auto;;
  padding: 2px 10px;
  width:940px;
}
#header-bar-content h1 {
  display:inline-block;
  float:left;
  margin-top:2px;
  width:100px;
}
#header-bar-content h1 a { background:none; color:white; }
#header-bar-content div#search {
  background:none;
  display:inline-block !important;
  float:none !important;
  margin:0px !important;
  padding:0px;
}
#header-bar-content ul.menu {
	float: left;
	list-style: none;
	margin: 0px 0px 0px 20px;
	padding: 0;
}
#header-bar-content ul.menu li {
	background-color:#1D66A8;
	border:1px solid #1D66A8;
	cursor:pointer;
	float: left;
  font-weight:bolder;
	margin: 0 3px;
	padding: 0;
	width:100px;
}
#header-bar-content ul.menu a {
	color: white;
	display: block;
	float: left;
	font-size:12px;
	margin: 0;
	padding: 8px 0px;
	text-decoration: none;
	text-align:center;
	width:100%;
}
#header-bar-content ul.menu li:hover {
	background: #4582BA;
	border:1px solid #003B6E;
	color: #fff;
}
#header-bar-content ul.menu li.search {
	border:none;
}
#header-bar-content ul.menu li.search:hover {
	background-color:transparent;
	color:auto;
}
#header-bar-content ul.menu li ul.submenu {
	background-color:#4582BA;
	border-bottom:1px solid #003B6E;
	border-left:1px solid #003B6E;
	border-right:1px solid #003B6E;
	position:absolute;
}
#header-bar-content ul.menu li ul.submenu li {
	background-color:transparent;
	border:none !important;
	display:block;
	float:none;
	margin:0px;
}
#header-bar-content ul.menu li ul.submenu li:hover {
	border-top:none !important;
}
#header-bar-content ul.menu li ul.submenu li.last:hover {
	border-bottom-color:#4582BA;
}
#menu-login { float:right !important; }
#user_photo { display:inline-block; margin-right:5px; vertical-align:middle; }
#user_name { display:inline-block;}
#menu-login li { width: 120px !important; }

/* settings */
#settings_photo { margin-bottom:10px; }
#settings_photo span { border:1px solid #CCC;; display:inline-block; margin-left:36px; padding:3px; }

#settings_options { float:left;margin-top:10px;width:200px; margin-right:25px; }
#settings_options ul { padding-left:0px; list-style:none; }
#settings_options ul li { 
	border:1px solid white;
	margin:2px 0px;
	padding:1px 0px 1px 5px;
}
#settings_options ul li.selected {
	background-color: #1D66A8;
	border: 1px solid #003B6E;
	color:white;
}
#settings_options ul li:hover {
	background-color: #1D66A8;
	border: 1px solid #003B6E;
	color:white;
	cursor:pointer;
}
#settings div.settings_block { float:left; width:700px; }

#avatar_settings #my_avatar p.title { border-bottom:1px solid #CCC; font-weight:bold; }
#avatar_settings #my_avatar div.avatar_photo { float:left;}
#avatar_settings #my_avatar div.avatar_photo div.img { border:1px solid #CCC; padding:3px; }
#avatar_settings #my_avatar div.avatar_photo p { margin:0px;text-align:center }

/* notices */
div.flash { margin-bottom:10px; }
div.flash .flash-content { margin:0px; padding:5px 5px 20px 20px;}
div.flash .flash-content .flash-handler { float:right; }
div.flash p { clear:right;color:black;margin:0px;text-align:center; }
#flash_notice, #flash_error, #flash_warn { border: 1px solid #CCC; padding:1px; }
#flash_notice .flash-content {	background-color:#B8FFB9; }
#flash_error .flash-content {	background-color:#FFE3EA; }
#flash_warn .flash-content {	background-color:#FFFEDE; }

/* Errors in forms */
.field_with_errors { display:inline; }
.field_with_errors label { color: #E01B4C; }
.field_with_errors input { border:1px solid #E01B4C; }

/* User view */
.user_info { }
div.user_info p.title { margin:0px 0px 3px;border-bottom:1px solid #CCC;font-weight:bold }
div.user_info p.fw-info { float:left;margin:0px 5px;max-width:70px;text-align:center }
div.user_info p.fw-info img { border:1px solid white; }
div.user_info p.fw-info img:hover { border-color: #CCC; }
#user_followings, #user_followers { float:left;width:380px }
#user_followers { margin-left:20px }

/* Users list view */
.users-list .user-info { float: left; margin:5px 20px 5px 0px;text-align:center; }
.users-list .user-info .user-name { display:block; }

/* activities */
#activities .bubble blockquote { padding:10px; }
#activities .activity-time { font-style:italic;margin:0px; }
#activities .actor-avatar { float:left; }
#activities .activity { float:left;margin-left:10px; }
#activities .bubble { margin-bottom:20px; }

/* Authentication methods */
#auth_methods .auth-method { border:1px solid #CCC; border-radius:5px; float:left; margin-right:20px; width:200px }
#auth_methods .auth-method-wrapper { float:left; padding:5px; }
#auth_methods .auth-method-content { float:left; width:180px; }
#auth_methods .auth-method-content p { float:left; margin:0px; }
#auth_methods a.del-auth-method { float:right; }
#social_settings #authentication_forms .auth-method { float:left; }

/* My series */
.last_episode { float: left; margin-right: 20px; text-align:center; width: 200px; }
.last_episode img { border:1px solid #CCC; }