<script type="text/javascript">
  $(document).ready(function(){
    $("#settings_tabs li").click(function(){
      $(this).parent().find('li').removeClass('selected');
      $('.settings_block').hide();
      $(this).addClass('selected');
      $($(this).attr('ref')).show();
      return false;
    });
  });
</script>

<div style="float:left;margin-top:10px;width:200px" id="settings_options">
  <ul id="settings_tabs">
    <li ref="#account_settings" class="selected">Account</li>
    <li ref="#email_settings">E-mail</li>
    <li ref="#social_settings">Connections</li>
  </ul>      
</div>

<div id="settings">
  <%= render "account" %>
  <%= render "email" %>
  <%= render "social" %>

  <div class="clear"></div>
</div>

