<script type="text/javascript">
  $(document).ready(function(){
    $(".bubble blockquote").hover(function(){
      $(this).find(".comment-options").show();
      console.info($(this).find(".comment-options"));
    }, function(){
      $(this).find(".comment-options").hide();
    });
  });
</script>
<div id="comments">
  <% if user_signed_in? %>
    <div id="new_bubble" class="bubble new-bubble">
      <%= form_for(Comment.new, :url => comment_path, :remote => true) do |f| %>
        <%= render :partial => "shared/comment_form", :locals => { :f => f } %>
    	<% end %>
    </div>
  <% end %>
  <%= render :partial => "shared/comment", :collection => comments %>
</div>