<blockquote>
  <div class="error_messages" style="display:none"></div>
	<p class="comment-content">
	  <%= f.text_area :content, {:class => "no-focus", :cols => 85,
	                  :rows => 1, :placeholder => "Write your comment"} %>
	</p>
	<div class="buttons">
	  <p style="margin-right">
			<span class="ajax-loader" style="display:none">
			  <%= image_tag "ajax-loader.gif" %>
			</span>
			&nbsp;<%= submit_tag "Comment", :class => "bluebtm" %>
	  </p>
	</div>
</blockquote>
