<div id="series_comments">
  <% if user_signed_in? %>
    <div class="bubble new-bubble">
      <%= form_for(@comment, :url => comment_show_path(@series), :remote => true) do |f| %>
        <%= render :partial => "shared/comment_form", :locals => { :f => f } %>
    	<% end %>
    </div>
  <% end %>
  <%= render :partial => "shared/comment", :collection => @series.comments %>
</div>