<span id="wait_spinner" style="display:none">
  <%= image_tag "ajax-loader.gif", :style => "display:inline" %>
</span>
<%= link_to (t '.remove_from_my_eight_pm_list'),
            unsubscribe_show_path(series),
            :class => "remove", :id => "remove_from_list_link",
            :remote => true %>
