<div id="series_categories">
  <p style="text-align:center">
    <% if user_signed_in? %>
    <%= link_to("My series", my_shows_path)  %> · 
    <% end %>
    <%= link_to "Name", name_shows_path %>
  </p>
</div>