<% series.each do |show| %>
  <div id="series-<%= show.id %>" class="serie serie-thumb">
  	<p>
  	  <% if show.poster? %>
        <%= link_to(content_tag(:span, show.full_name, :class => "title" ) + content_tag(:span, image_tag(show.poster.url(:small)), :class => "img"), show_path(show), :class => "serie-with-image") %>
      <% end %>
  	</p>
  </div>
<% end %>
<div class="clear"></div>
