<h1>Search for a serie :</h1>
<div id="series_initials">
  <ul>
    <li><%= link_to "#", shows_path(:letter => "0" ) %></li>
    <%= az_shows_initials %>
  </ul>
</div>

<% if @series.size > 0 %>
<div id="series_found">
  <ul>
  <% @series.each do |serie| %>
    <%= serie.name %>
  <% end %>
  </ul>
</div>
<% end %>