<script type="text/javascript">
  $(document).ready(function(){
    $("#series-list-name .serie").hover(
      function(){
        $(this).addClass('serie-hovered');
      },
      function(){
        $(this).removeClass('serie-hovered');
      });
  });
</script>
<%= render "series_categories" %>
<div id="series_initials">
  <ul id="navlist">
    <% if params[:letter] %>
      <li class="first">
    <% else %>
      <li class="first selected">
    <% end %>
    <%= link_to "#", name_shows_path %></li>
    <%= az_shows_initials(params[:letter]) %>
  </ul>
  <%= render :partial => "series_list", :locals => { :series => @series } %>
</div>