<%= render "series_categories" %>
<div id="series_initials">
  <ul id="navlist">
    <% if params[:letter] %>
      <li class="first">
    <% else %>
      <li class="first selected">
    <% end %>
    <%= link_to "#", name_shows_path %></li>
    <%= az_shows_initials(params[:letter]) %>
  </ul>
</div>
<div id="series-list-name">
  <%= render :partial => "series_list", :locals => { :series => @series } %>
</div>